body {
  font-family: Poppins, Arial;
  background-color: rgb(9, 9, 21);
  padding-left: 200px;
  padding-top: 100px;
  padding-right: 200px;
  height: 1300px;

}

.horizontal-line {
  opacity: 0.5;
  margin-bottom: 30px;
}
