.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 250px;
  margin-right: 250px;
}

.project-div {
  display: block;
  margin-left: 260px;
  margin-right: 260px;
  margin-bottom: 20px;
  font-size: 20px;
}

.project-box {
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 5px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.project-title {
  margin-bottom: 5px;
  font-weight: 600;
}

.project-text {
  font-size: 14px;
}

.project-tags {
  display: flex;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: rgb(255, 14, 159);
  border-radius: 5px;
  align-items: end;
  width:fit-content;
  cursor: pointer;
  color: white;
}

.image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
}