.input-todo {
  padding: 10px 20px;
  width: 260px;
}

.input-date {
  padding: 10px 20px;
  width: 150px;
}

.add-btn {
  border: none;
  background-color: green;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
}

.add-btn:hover {
  border: none;
  background-color: rgb(0, 87, 0);
  color: white;
  padding: 12px 20px;
}